  <div mat-dialog-content>
  <form [formGroup]="createForm">
    <h3 class="text-center text-secondary">Create row</h3>

    <mat-form-field>
        <input matInput  formControlName="position" placeholder="Enter Position No" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Enter Name" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput formControlName="weight" placeholder="Enter Weight" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="symbol" placeholder="Enter Symbol" required>
          </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button [disabled]="!createForm.valid" class="ml-5 text-right text-success" mat-button [mat-dialog-close]="createForm.value" cdkFocusInitial>Create</button>
  
</div>
