<h1>LOGIN</h1>
   
<form [formGroup]="reactiveForm" (ngsubmit)="onSubmit">
<mat-form-field>
<input matInput placeholder="First Name" type="text" formControlName="firstName">
<mat-error *ngIf="reactiveForm.controls?.firstName.errors?.required">name is required</mat-error>
</mat-form-field><br>

   <mat-form-field>
 <input matInput placeholder="Last Name" type="text" formControlName="lastName">
 <mat-error *ngIf="reactiveForm.controls?.lastName.errors?.required">name is required</mat-error>
</mat-form-field><br>

 <mat-form-field>
<input matInput placeholder="emailId" type="text" formControlName="emailId">
<mat-error *ngIf="reactiveForm.controls?.emailId.errors?.required">email requried</mat-error>
</mat-form-field><br>

<mat-form-field>
<input matInput placeholder="mobileNo" type="text" formControlName="mobileNo"  maxLength="10" >
<mat-error *ngIf="reactiveForm.controls?.mobileNo.errors?.required">mobileno required</mat-error>
</mat-form-field><br>

<mat-form-field>
<mat-select placeholder="State" type="State" formControlName="state" multiple>
 <mat-option *ngFor="let state of statelist" [value]="state">{{state}}</mat-option>
</mat-select>
</mat-form-field><br>



<mat-form-field>
<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="date" formControlName="date">
 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
 <mat-datepicker #picker></mat-datepicker>
</mat-form-field><br> 
   <button mat-raised-button [disabled]="!reactiveForm.valid">Submit</button>
</form> 

